@import "../../styles/shared.scss";

.battleScene {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  height: 100vh;
}

.playerHealth{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: center;
}

.battleRow1 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: center;
}

.battleField{
  margin-top: 20%;
  height: 20%;
}

.battleRow2 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  justify-content: center;
}