.dialogueBox {
  background: hsla(232, 100%, 7%, 0.78);
  border: 5px solid white;
  width: 55%;
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
}

.dialogueBox p {
  font-size: 20px;
  color: white;
}
