@import "../../styles/shared.scss";

.tripleCard {
  border: 2px solid blue;
  background-size: cover;
  background-position: center center;
  background-blend-mode: overlay;
  width: 150px;
  height: 100%;
}

.playerHand .tripleCard,
.leftHand .tripleCard {
  margin-left: 5px;
  margin-right: 5px;
}

.tripleCard p {
  font-weight: bold;
  font-size: 20px;
  margin: 0px;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: black;
}

.tripleCard h2 {
  font-family: $snatcherTitle;
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}
